body{
    transition: 0.3s ease;
}
.leisure__container{
    padding-top: 0.1rem;
    transition: all 0.3s ease;
}

.leisure_cards-1{
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;
    text-align: center;
}
.leisure_cards-2{
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    margin-top: 0.5rem;
    text-align: center;
}
.leisure__left__card img{
    width: 96%;
}
.leisure__right__card2 img{
    width: 96%;
}

.leisure__right__card{
    text-align: center;
    padding-right: 0.8rem;
    margin-top: 2.8rem;
}
.leisure__left__card2{
    
    text-align: center;
    
}
.btnres{
    margin-top: 0.8rem;
}

.leisure__right__card2.small{
    display: none;
}
.leisure__button{
    margin-top: 1.5rem;
}

 /* ============ MEDIA QUERIES (SMALL DEVICES) ========== */
 @media screen and (max-width: 1024px) {
    .leisure_cards-1, .leisure_cards-2{
        grid-template-columns: 100%;
    }
    .leisure_cards-2{
        margin-bottom: 2.5rem;
    }
    .leisure__left__card img{
        width: 100%;
    }
    .leisure__right__card2{
        display: none;
    }
    .leisure__left__card2{
        text-align: center;
    }
    #leisure-paragraph{
        margin-bottom: 0.5rem;
    }
    .leisure__right__card2.small{
        display: grid;
        padding-top: 0.8rem;
        width: 98%;
    }
    .leisure__right__card2.small img{
        
        width: 100%;
    }
 }